.notification{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.notification_text{
    color: #98A2B3;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px  ;
}
