.user_profile{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 50px;
}
.user_img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    right: 120px;
}