.column{
    display: flex;
    flex-direction: column;
}
.form {
    background-color: #FCFCFD;
    width: 560px;
    border-radius: 8px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.video {
    padding: 0 20px 20px;

}

.video_footer {
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}
.title{

    font-size: 16px;
    font-weight: 600;
    line-height: 30px;



}
.table {
    margin-top: 20px;
    border-radius: 8px;
    background-color: #FCFCFD;
    padding: 10px 0 10px 30px;
}