.form{
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: center;
    margin: 1rem auto;
    align-items: center;
    /*background-color: #C6D5D6;*/
    background-color: #4B4B4B59;
    border-radius: 1rem ;
    padding: 50px 0;



}
.logo{
    margin: 0 auto;
    padding-top: 80px;
}

.login, .password{

    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    padding-bottom: 20px;
}

.form label {
    color: white;
}
.label {
    color: white;
}