.header {
    width: 1440px ;
    height: 80px;
    display: flex;
    background-color: #FCFCFD;
    /*background-color: #6BA4FE;*/
    margin: 0 auto;
    justify-content: center;
    padding: 25px 40px;
}