.form{
    width: 760px;
    background-color: #F9FAFB;

    border-radius : 8px;
}
.robot_header{
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 10px;
}
.table {
    padding : 10px;

}