.form{
    background-color: #F9FAFB;
    border-radius: 8px;
    width: 760px;

}
.table{
    padding: 10px;
}
.filters{
    display: flex;
    justify-content: flex-end;
    margin: 20px 15px 20px 0;
}
