.nav_list{
    display: flex;
    justify-content: space-between;
    gap: 40px;

}
.nav_item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    color: #98A2B3;

}
.notification{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #6BA4FE1A;
    position: relative;
}
.svg{
    position: absolute;
    top: 10px   ;
    right: 10px;
    left: 10px;
    bottom: 10px;
}
.active{
    color:#6BA4FE;
}
/* Navbar.module.css */
.logo_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px; /* Добавьте отступ снизу, если нужно */
    margin-right: 30px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px; /* Установите ширину логотипа */
    height: 30px; /* Установите высоту логотипа */
    /* Сделайте логотип круглым, если нужно */

}




